[user]
  # TODO: Edit the email
	email = swaroop.striker@gmail.com
	name = Swaroop Sethumadhavan
[alias]
  s=status
  a=add
  co=checkout
  go=commit
  lg=log --oneline
  history=log -p --
  resetOrigin=reset --hard origin/master
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = yellow
  untracked = cyan
[core]
  #TODO: Edit username
  excludesfile = /Users/<username>/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[commit]
  #TODO: Edit username
	template = /Users/<username>/.stCommitMsg
