[user]
	name = Swaroop Sethumadhavan
	; email = youremail@example.com
[alias]
  s=status
  a=add
  co=checkout
  go=commit
  lg=log --oneline
  history=log -p --
  resetOrigin=reset --hard origin/master
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = yellow
  untracked = cyan
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	commitGraph = true
	; path to global_ignore
	; excludesfile = /Users/me/.gitignore_global
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[protocol]
	version = 2
